@keyframes profile {
	0%  {width: 57px; height: 57px;}
	25% {width: 65px; height: 65px;}
	50% {width: 57px; height: 57px;}
	75% {width: 65px; height: 65px;}

}

.detail {

    .artist-intro {
        width: 100%;
        height: 310px;
        background-image: url(../img/picolo4.jpg);      
        background-size: 100% 100%;

       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
       padding-top: 20px; 

       @include if-mobile-landscape {
        height: 400px;
     }

       @include if-tablet-portrait {
        height: 480px;           
       }

       @include if-desktop {
        height: 550px;  
        padding-top: 40px;          
       }

       @include if-desktop-plus {
        height: 600px;  
        padding-top: 60px;          
       }
      
        .profile {
            display: relative;
            top: 200px;
            width: 57px;
            height: 57px;
            border-radius: 80px;
            margin-bottom: 5px;                          
        
            &:hover {
                animation-name: profile;
                animation-duration: 0.7s;
            }

            @include if-desktop {
                width: 70px;
                height: 70px; 
                margin-bottom: 20px;        
               }

            @include if-desktop-plus {
                width: 90px;
                height: 90px;        
               }
        }
        .name {
            font-family: $main-font-family;
            font-size: $font-size-h3;
            text-transform: uppercase;
            font-weight: bold;
            color: $silver;
            margin-bottom: 7px;

            @include if-mobile-landscape {
                font-size: $font-size-h2;
             }

            @include if-desktop {
                font-size: $font-size-h1;
                margin-bottom: 12px;      
               }

            @include if-desktop-plus {
                font-size: $font-size-more-large;
               }
        }
        .work {
            font-family: $text-font-family;
            font-size: $font-size-small;
            color: $silver;
            margin-bottom: 5px;

            @include if-mobile-landscape {
                font-size: $font-size-logo;
             }

            @include if-desktop {
                font-size: $font-size-h4;
                margin-bottom: 8px;      
               }
            @include if-desktop-plus{
                font-size: $font-size-h4;
                margin-bottom: 12px;      
               }
        }
        .country {
           @extend .work;

            @include if-mobile-landscape {
                font-size: $font-size-logo;
             }
            
            @include if-desktop-plus{
                font-size: $font-size-h5;
     
               }
        }
    }

    .artist-info {
        margin: 10px;
        padding: 5px;
        line-height: 1.5em;
        text-align: center;

        span {
            font-weight: bold;
            color: $leather;
        }
        #cursiva {
            font-style: italic;
        }

        @include if-mobile-landscape {
            margin: 20px;
            padding: 5px 15px;
            line-height: 1.7em;
            font-size: $font-size-logo;
         }

        @include if-desktop {
            font-size: $font-size-h5;
            padding: 5px 35px; 
            line-height: 1.5em;     
           }

        @include if-desktop-plus {
            padding: 5px 12%;  
            font-size: $font-size-h4;       
           }
    }


    .barra {
        display: flex;
        justify-content: center;
        font-family: $main-font-family;
        font-size: $font-size-small;
        background-color: $navy-blue-dark;
        color: $leather;
        margin: 10px 8% 20px 8%;

        @include if-mobile-landscape {
            margin: 7px 10% 20px 10%;
            font-size: $font-size-logo;
         }

        @include if-tablet-portrait {
            margin: 7px 15% 20px 15%;        
           }

        @include if-desktop {
            font-size: $font-size-h5;  
           }

        @include if-desktop-plus {
            margin: 18px 18% 20px 18%;
            font-size: $font-size-h4;           
           }

        .follow {
            box-sizing: border-box;
            margin: 5px;

            @include if-mobile-landscape {
                margin-right: 40px;
             }
        }
        input {
            width: 17px;
            height: 17px;
            margin-left: 13px;
            margin-top: 2px;
            margin-bottom: 10px;
            transition: transform 0.5s;

            &:active {
                transform: rotate(360deg);
            }
        }
    }
    .images {
        box-sizing: border-box;
        width: 100%;
        display: inline-block;

        @include if-desktop {
            padding: 10px;
         }
        
        @include if-desktop-plus {
            padding: 20px;
         }

        .portfolio1 {
            width: 30%;
            max-width: 600px;
            height: 170px;
            margin: 2px;
            margin-bottom: 5px;

            &.desktop {
                display: none;
            }

            @include if-mobile-landscape {
                height: 310px;
                margin: 5px;
             }

            @include if-desktop {
                height: 380px;
                margin: 8px;
            }

            @include if-desktop-plus {
                margin: 10px;
                width: 18%;
                margin-bottom: 25px;

                &.desktop {
                    display: inline;
                    
                }
            }
        }
        .portfolio2 {
            box-sizing: border-box;
            width: calc(50% - 10px);
            max-width: 700px;
            margin-bottom: 5px;
            padding: 2px;
            
            &.desktop {
                display: none;
            }

            @include if-desktop {
                width: calc(50% - 20px);
                margin: 5px;
            }

            @include if-desktop-plus {
                width: calc(33% - 10px);
                height: 350px;
                padding: 5px;
                
                &.desktop {
                    display: inline;
                }
            }
        
        }
    }
    .artist-links {
        display: flex;
        box-sizing: border-box;
        margin-top: 8px;
        margin-bottom: 12px;
        justify-content: center;
       
        @include if-mobile-landscape {
            margin-bottom: 20px;
         }

        @include if-desktop {
            margin-bottom: 30px;
        }

        a {
            display: flex;
            flex-direction: row;
            font-family: $links-font-family;
            font-size: $font-size-links;
            margin: 5px;
            
            @include if-mobile-landscape {
                margin-top: 15px;
                font-size: $font-size-logo;
             }

            @include if-tablet-portrait {
                margin-left: 30px;
             }

            @include if-desktop {
                font-size: $font-size-h4;
                margin-left: 40px;
            }

            @include if-desktop-plus {
                margin-left: 80px;
            }
        }

        a:hover {
            color: $coral;
        }
    }

    .formulario {
        background-color: $navy-blue-dark;
        box-sizing: border-box;
        padding-top: 10px;
        padding-left: 5px;

        p {
            display: flex;
            justify-content: flex-start;
            margin-left: 5px;
            margin-bottom: 8px;
            font-size: $font-size-links;

            @include if-mobile-landscape {
                font-size: $font-size-logo;
                margin-bottom: 12px;
                margin-left: 8px;
             }

            @include if-desktop {
                font-size: $font-size-h5;
                margin-left: 20px;
            }

            @include if-desktop-plus {
                margin-left: 40px;
                padding: 10px;
            }
        }
        textarea {
            display: flex;
            justify-content: flex-start;
            width: 90%;
            height: 80px;
            margin-left: 10px;
            margin-bottom: 10px;
            background-color: $navy-blue;
            border-color: $leather;
            border-radius: 10px;
            color: $eggshell;

            @include if-mobile-landscape {
                height: 120px;
             }

            @include if-desktop {
                height: 170px;
                margin-left: 27px;
                margin-bottom: 30px;
            }

            @include if-desktop-plus {
                height: 160px;
                margin-left: 45px;
            }
        }

        input {
            margin-left: 5px;
            background-color: $navy-blue;
            border-color: $leather;
            border-radius: 5px;
            margin-bottom: 18px;

            @include if-mobile-landscape {
                width: 30%;
                margin-left: 10px;
             }

            @include if-desktop-plus {
                height: 20px;
            }
        }

        input#button {
            background-color: $leather;

            @include if-mobile-landscape {
                width: 20%;
                margin-left: 10px;
             }

             @include if-desktop-plus {
                width: 10%;
                height: 30px;
                margin-left: 20px;
            }
        }
    }
    
    
    .back {
        display: flex;
        justify-content: flex-end;
        margin: 5px;
        margin-right: 10px;
        color: $silver;

        @include if-desktop-plus {
            font-size: $font-size-h3;
        }
    }
   
}