@keyframes profile {
	0%  {width: 57px; height: 57px;}
	25% {width: 65px; height: 65px;}
	50% {width: 57px; height: 57px;}
	75% {width: 65px; height: 65px;}

}

.detail {
   /* display: flex;
    flex-direction: column; */

    .artist-intro {
        width: 100%;
        height: 67%;
        top: 0;
        .fondo {
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        .artist-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .profile {
                display: flex;
                width: 57px;
                height: 57px;
                border-radius: 80px;
                margin-bottom: 5px;
                

                &:hover {
                    animation-name: profile;
                    animation-duration: 0.7s;
                }
            }
            .name {
                font-family: $main-font-family;
                font-size: $font-size-h3;
                text-transform: uppercase;
                font-weight: bold;
                color: $silver;
                margin-bottom: 7px;
            }
            .work {
                font-family: $text-font-family;
                font-size: $font-size-small;
                color: $silver;
                margin-bottom: 5px;
            }
            .country {
                font-family: $text-font-family;
                font-size: $font-size-small;
                color: $silver;
                margin-bottom: 5px;
            }
        }
    }
    .barra {
        display: flex;
        justify-content: center;
        font-family: $main-font-family;
        font-size: $font-size-small;
        background-color: $navy-blue-dark;
        color: $leather;
        margin: 5px 10% 10px 10%;
        .follow {
            box-sizing: border-box;
            margin: 5px;
        }
        input {
            width: 17px;
            height: 17px;
            margin-left: 13px;
            margin-top: 2px;
            margin-bottom: 10px;
            transition: transform 0.5s;

            &:active {
                transform: rotate(360deg);
            }
        }
    }
    .images {
        width: 100%;
        height: 200px;
        .portfolio1 {
            box-sizing: border-box;
            width: 30%;
            height: 170px;
            margin: 2px;
            margin-bottom: 5px;
        }
        .portfolio2 {
            box-sizing: border-box;
            width: calc(50% - 10px);
            margin-bottom: 5px;
            padding: 2px;
        
        }
    }
    .artist-links {
        display: flex;
        box-sizing: border-box;
        margin-top: 35%;
        margin-bottom: 10px;
        justify-content: center;
       
        a {
            display: flex;
            flex-direction: row;
            font-family: $links-font-family;
            font-size: $font-size-links;
            margin: 5px;
            
        }

        a:hover {
            color: $coral;
        }
    }

    .formulario {
        background-color: $navy-blue-dark;
        box-sizing: border-box;
        padding-top: 10px;
        padding-left: 5px;
        p {
            display: flex;
            justify-content: flex-start;
            margin-left: 5px;
            margin-bottom: 8px;
        }
        textarea {
            display: flex;
            justify-content: flex-start;
            margin-left: 10px;
            margin-bottom: 10px;
            background-color: $navy-blue;
            border-color: $leather;
            border-radius: 10px;
            color: $eggshell;
        }

        input {
            margin-left: 5px;
            background-color: $navy-blue;
            border-color: $leather;
            border-radius: 5px;
            margin-bottom: 18px;
        }

        input#button {
            background-color: $leather;
        }
    }
    
    
    .back {
        display: flex;
        justify-content: flex-end;
        margin: 5px;
        margin-right: 10px;
        color: $silver;

    }
   
}