
.footer {
    box-sizing: border-box;
    background: $navy-blue-dark;
    padding: 14px;
    color: $eggshell;
    bottom: 0;
    width: 100%;
    border-top: 1px solid;
    border-top-color: $eggshell;

    .web-title {
        font-family: $main-font-family;
        font-size: $font-size-logo;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-right: 20px;
        margin-left: 10px;

        @include if-desktop-plus {
            font-size: $font-size-h4;
        }

         }

    .rights-footer {
        font-family: 'Roboto';
        font-size: $font-size-links;

        @include if-desktop-plus {
            font-size: $font-size-logo;
        }
    }

    @include if-desktop-plus {
        padding: 25px;
    }
}