
.footer {
    box-sizing: border-box;
    background: $navy-blue-dark;
    padding: 10px;
    color: $eggshell;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid;
    border-top-color: $eggshell;

    .web-title {
        font-family: $main-font-family;
        font-size: $font-size-logo;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-right: 20px;
        margin-left: 10px;
         }

    .rights-footer {
        font-family: 'Roboto';
        font-size: $font-size-small;
    }
}