
.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    background: $navy-blue-dark;
    color: $eggshell;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid;
    border-bottom-color: $eggshell;
    z-index: 2;
       
    .web-title {
        display: flex;
        font-family: $main-font-family;
        font-size: $font-size-logo;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 20px;
        margin-left: 10px;

        @include if-desktop {
            margin-left: 15px;
            font-size: $font-size-h3;
            padding: 17px
        }
        }
        
    .links {
        display: none;
        font-family: $main-font-family;
        font-size: $font-size-small;
        text-transform: uppercase;
        margin: 10px;

        span{
           margin-right: 20px;
        }

        @include if-desktop {
            display: flex;
            font-size: $font-size-h4;
        }
    }


    .form-search {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        input {
            border-radius: 5px;
            width: 130px;
            margin-right: 5px;
        }

        @include if-mobile-landscape {
            input {
                width: 180px;
            }
        }
            
        @include if-desktop {
            input {
                width: 250px;
                font-size: $font-size-h4;
            }
        }

        @include if-desktop-plus {
            input {
                width: 320px;
            }
        }
    }
    
    
    .sign {
        display: flex;
        font-family: $main-font-family;
        font-size: $font-size-small;
        text-transform: uppercase;
        margin-right: 5px;

        span {
            margin: 5px;
        }

        @include if-desktop {
            margin-right: 15px;
            font-size: $font-size-h4;
        }
    }

}



