
<section class="artists-list">
   
    <article class="artist">
        <div class="artist-nickname">Picolo</div>
        <div class="artist-name">Gabriel Picolo</div>
        <a href="./detail.html">
            <img class="drawing" src="../img/picolo1.jpg" alt="Picolo">
        </a>
        <div class="area">Illustration and comic</div>
    </article>

    <article class="artist">
            <div class="artist-nickname">Gretel Lusky</div>
            <div class="artist-name">Gretel Lusky</div>
            <a href="./detail_gretel.html">
                <img class="drawing" src="../img/gretelusky2.png" alt="Gretel">
            </a>
            <div class="area">Illustration and cahracters design</div>
        </article>

    <article class="artist">
            <div class="artist-nickname">Chalseu</div>
            <div class="artist-name">Charles D Chalseu</div>
            <a href="./detail.html">
                <img class="drawing" src="../img/chalseu2.png" alt="Chalseu">
            </a>
            <div class="area">Animation student</div>
        </article>

    <article class="artist">
            <div class="artist-nickname">Iruse</div>
            <div class="artist-name">Ilse Harting</div>
            <a href="./detail_gretel.html">
                <img class="drawing" src="../img/iruse1.jpg" alt="Iruse">
            </a>
            <div class="area">Illustration</div>
    </article>

    <article class="artist">
            <div class="artist-nickname">Gijé</div>
            <div class="artist-name">Jéróme Gillet</div>
            <a href="./detail.html">
                <img class="drawing" src="../img/gije1.png" alt="Gije">
            </a>
            <div class="area">Illustration and animation</div>
    </article>

    <article class="artist">
            <div class="artist-nickname">John Ripa</div>
            <div class="artist-name">John Ripa</div>
            <a href="./detail_gretel.html">
                <img class="drawing" src="../img/jripa3.png" alt="John Ripa">
            </a>
            <div class="area">Disney animation</div>
    </article>

    <article class="artist">
            <div class="artist-nickname">Nicholas Kole</div>
            <div class="artist-name">Nicholas Kole</div>
            <a href="./detail.html">
                <img class="drawing" src="../img/nicholas-kole1.jpg" alt="Nicholas Kole">
            </a>
            <div class="area">Illustration and concept art</div>
    </article>

    <article class="artist">
        <div class="artist-nickname">Pascal Campion</div>
        <div class="artist-name">Pascal Campion</div>
        <a href="./detail_gretel.html">
            <img class="drawing" src="../img/pascal_campion2.jpg" alt="Pascal Campion">
        </a>
        <div class="area">Illustration</div>
    </article>

    <article class="artist">
        <div class="artist-nickname">Loish</div>
        <div class="artist-name">Lois van Baarle</div>
        <a href="./detail.html">
            <img class="drawing" src="../img/loish2.jpg" alt="Loisvb">
        </a>
        <div class="area">Illustration and animation</div>
    </article>

    <article class="artist">
        <div class="artist-nickname">Qinni art</div>
        <div class="artist-name">Qing Han</div>
        <a href="./detail_gretel.html">
            <img class="drawing" src="../img/qinni2.jpg" alt="Qinni">
        </a>
        <div class="area">Illustration and animation</div>
    </article>

    <article class="artist">
        <div class="artist-nickname">Laia López</div>
        <div class="artist-name">Laia López</div>
        <a href="./detail.html">
            <img class="drawing" src="../img/itslopez2.png" alt="Laia López">
        </a>
        <div class="area">Illustration</div>
    </article>

    <article class="artist">
        <div class="artist-nickname">Burdge</div>
        <div class="artist-name">Brigid Vaughn</div>
        <a href="./detail_gretel.html">
            <img class="drawing" src="../img/burdge2.jpg" alt="Burdge">
        </a>
        <div class="area">Illustration</div>
    </article>

    <article class="artist">
        <div class="artist-nickname">Cyarine</div>
        <div class="artist-name">Laura Browers</div>
        <a href="./detail.html">
            <img class="drawing" src="../img/cyarine2.jpg" alt="Cyarine">
        </a>
        <div class="area">Illustration</div>
    </article>

    <article class="artist">
        <div class="artist-nickname">Ni-nig</div>
        <div class="artist-name">Rebecca Nining</div>
        <a href="./detail_gretel.html">
            <img class="drawing" src="../img/ni_nig1.jpg" alt="Ni-nig">
        </a>
        <div class="area">Artist in free time</div>
    </article>

    <article class="artist">
        <div class="artist-nickname">David Ardinaryas</div>
        <div class="artist-name">David Ardinaryas Lojaya</div>
        <a href="./detail.html">
            <img class="drawing" src="../img/david-adhinarya-lojaya2.jpg" alt="David Ardinaryas">
        </a>
        <div class="area">Character designer</div>
    </article>

    <article class="artist">
        <div class="artist-nickname">Yehuda Devir</div>
        <div class="artist-name">Jude Devir</div>
        <a href="./detail_gretel.html">
            <img class="drawing" src="../img/yehuda_devir2.jpg" alt="Yehuda Devir">
        </a>
        <div class="area">Comic</div>
    </article>

    <article class="artist">
        <div class="artist-nickname">Miro_z</div>
        <div class="artist-name">Miroslav Zgabaj</div>
        <a href="./detail.html">
            <img class="drawing" src="../img/miroslav-zgabaj.jpg" alt="Miro_z">
        </a>
        <div class="area">Watercolor illustration</div>
    </article>

    <article class="artist">
        <div class="artist-nickname">Jana Schrimer</div>
        <div class="artist-name">Jana Schrimer</div>
        <a href="./detail_gretel.html">
            <img class="drawing" src="../img/jana2.jpg" alt="Jana Schrimer">
        </a>
        <div class="area">Illustration</div>
    </article>



</section>