<section  id="top" class="detail">
    <div class="artist-intro">
      <img class="profile" src="../img/picolo_perfil.jpg" alt="Picolo">
      <span class="name">Gabriel Picolo</span>
      <span class="work">Freelance illustrator and comic artist</span>
      <span class="country">Sao Paulo, Brasil</span>
    </div>

    <div class="artist-info">
         <p>I'm a traditional/digital illustrator. 
             For my drawings I take inspiration from <span>Studio Ghibli, Disney, Teen Titans</span> ,
             video games among other stuff.  I love to draw something that is <span id="cursiva"> relatable </span>
             to me and other people as well. 
        </p>    
    </div>

    <div class="barra">
        <span class="follow">Followers(5k)</span>
        <span class="follow">Following(120)</span>
        <input type="image" src="../img/heart.png" alt="submit" name="submit" />
    </div>

    <div class="images">
        <img class="portfolio1" src="../img/picolo5.jpg" alt="Picolo">
        <img class="portfolio1" src="../img/picolo6.jpg" alt="Picolo">
        <img class="portfolio1" src="../img/picolo7.jpg" alt="Picolo">
        <img class="portfolio1 desktop" src="../img/picolo11.jpg" alt="Picolo">
        <img class="portfolio1 desktop" src="../img/picolo2.jpg" alt="Picolo">
        <img class="portfolio2" src="../img/picolo3.jpg" alt="Picolo">
        <img class="portfolio2" src="../img/picolo9.jpg" alt="Picolo">
        <img class="portfolio2 desktop" src="../img/picolo12.jpg" alt="Picolo">
    </div>

    <div class="artist-links">
            <a href="https://www.instagram.com/_picolo/">Instagram</a>
            <a href="https://picolo-kun.deviantart.com/">DeviantArt</a>
            <a href="https://www.facebook.com/GabrielPicoloArt/">Facebook</a>
            <a href="https://twitter.com/_gabrielpicolo?lang=ca">Twitter</a>
            <a href="https://www.patreon.com/Picolo">Patreon</a>
            <a href="https://www.behance.net/_Picolo">Behance</a>
    </div>

    <div class="formulario">
        <form action="">
            <p>Do you want to leave a message to this artist?</p>
            <textarea name="comments">Enter your comments...</textarea>
        </form>

        <form action="">
            <p>Subscribe to our page</p>
            <input type="text" name="email" />
            <input id="button" type="submit" name="subscribe" value="Subscribe" />
        </form>
    </div>

    <a href="./index.html">
        <span class="back">Go back</span>
    </a>

</section>