
<header class="header">
    <div class="web-title">
        <h1 id="principal">Artist Inspiration</h1>
     </div>

     
    <div class="links">
       <span>About us</span>
       <span>Contact</span>
       <span>Facebook</span>
    </div>

    <div class="form-search">
        <input type="search" placeholder="Search">
    </div>

   <div class="sign">
         <a href="./sign_up.html">
             <span>Sign up</span>
         </a>

         <a href="./sign_in.html">
             <span>Sign in</span>
          </a>
    </div>

</header>
